#hero {
  background-image: url('../images/writing-notes-idea-conference.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  color: white;
}

#home-hero {
  background-color: black;
  height: 150px;
}

.home-body-image {
  height: 280px;
  width: 280px;
}

.profile-picture-thumbnail {
  height: 70px;
  width: 70px;
}

/*Onle Used For Testing. Will Remove Once Project Is Complete.*/
.border {
  border: 1px solid red;
}
