#hero {
  background-image: url('../images/writing-notes-idea-conference.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  color: white;
}

#home-hero {
  background-color: black;
  height: 150px;
}

.home-body-image {
  height: 280px;
  width: 280px;
}

.profile-picture-thumbnail {
  height: 70px;
  width: 70px;
}

.profile-picture {
  height: 200px;
  width: 200px;
}

.navbar-brand-image {
  height: 35px;
  width: 35px;
}

.span-space {
  margin-right: 10px;
}

#panel-heading-review-card, #panel-body-review-card, #panel-heading-new-deck, #panel-heading-new-deck-card, #panel-heading-new-deck-table, #panel-heading-search {
  text-align: center;
}

#panel-body-review-card {
  align-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 50px;
}

#review-card-span {
  font-size: 15px;
}

#new-deck-table {
  height: 100px;
  overflow: scroll;
}

/*Onle Used For Testing. Will Remove Once Project Is Complete.*/
.border {
  border: 1px solid red;
}
